@import 'kezign.css';

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

html {
  color: var(--color-on-surf);
  background: var(--color-surf-2);
}

.text-link{
  padding: .5rem;
  border-radius: var(--border-radius);
  &:hover {
    background: var(--color-surf-5);
  }
}

.text-link-selected{
  padding: .5rem;
  cursor: default;
  border-radius: var(--border-radius);
  background: var(--color-surf-5);
}

header{
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  height: 4rem;
  padding: 0 1rem;
  background: var(--color-surf-0);
  position: sticky;
  top:0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 10;
  margin: 0 1rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  .logo_link{
    height: 1.5rem;
    margin-right: 2rem;
    
    img {
      height: 1.5rem;
    }
  }

  nav{
    margin: auto auto auto 0;
    height: 100%;

    a{
      font-weight: 600;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      padding: .5rem;
      height: 100%;

      &:hover{
        background: var(--color-surf-5);
      }
    }

    .nav_drop{
      position: relative;
      &:hover .nav_products_drop{
        display: block;
      }
    }

    .nav_products_drop{
      overflow-y: auto;
      max-height: calc(100vh - 5rem);
      min-width: 15rem;
      display: none;
      position: absolute;
      z-index: 3;
      background: var(--color-surf-0);
      padding: .5rem;
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      top:100%;
      a{
        width: 100%;
        padding: .5rem;
        border-radius: var(--border-radius);
      }
    }
  }

  .hUser, .hLoggin{
    display: flex;
  }
}

.header_search{
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: .5rem 1rem;
  margin: auto 2rem;

  &:focus {
    outline: 2px solid var(--color-on-surf);
  }

  & input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-left: 1rem;
  }
}

.side_search{
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    margin: 1rem 0.25rem;

    &:focus {
      outline: 2px solid var(--color-on-surf);
    }

    & input {
      width: 100%;
      font-size: 1rem;
      border: none;
      outline: none;
      padding-left: 1rem;
    }
}

.header_search-icon{
  cursor:default;
}

.header_search-clean, .side_search-clean {
  cursor: pointer;
  visibility:hidden;
}

.burger{
  cursor: pointer;
  margin-left: auto;
}

.sideNavClose{
  cursor: pointer;
  margin-left: auto;
}

.sideNav{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--color-surf-0);
  padding: 1rem;
  top: 0;
  left: 100%;
  z-index: 20;
  transition: left .3s;
  overflow: auto;
}

.sideNav-logo{
  margin: auto auto 1rem 1rem;
}

.sideNav_products_drop{
  padding: 0 0 0 1rem;
}

footer{
  width: calc(100% - 2rem);
  color: var(--color-surf-0);
  background: var(--color-primary);
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto 5rem;
  gap: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  border-radius: var(--border-radius);

  .socialLinks{
    width: 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    img {
      height: 2rem;
    }
  }

  a{
    color: #fff;
    margin-bottom: .5rem;
  }
}

.index-hero{
  margin: 2rem 1rem 1rem 1rem;
  width: calc(100% - 2rem);
  height: 300px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.slogan{
  width: calc(100% - 2rem);
  margin: 1rem;
  display: flex;
  justify-content: center;
  h1{
    font-size: clamp(1rem, 2.5rem, 4rem);
    text-align: center;
  }
}

.lineProducts{
  max-width: 100%;
  padding: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 25rem));/* 18.75rem, 1fr */
  grid-auto-rows: max-content;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
}

.card {
  background: var(--color-surf-0);
  border-radius: var(--border-radius);
  padding: 1rem;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
  }

  .imgbox {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100%;
    position: relative;
    height: 0;

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1.5rem;
    margin-top: .5rem;
  }

  .title {
    font-weight: 600;
  }
}

.sectionPartners{
  padding: 1rem;
}

.partners {
  display: grid;
  padding: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 4rem;
  gap: 1rem;
  align-items: center;
  justify-items: center;

  .item {
    max-width: 8rem;
    max-height: 4rem;
    object-fit: contain;
    filter: grayscale(1);

    &:hover{ filter: grayscale(0); }
  }
}

.sqBox{
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 100%;
  display: flex;

  img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.product{
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;

  .mainImgContainer{
    border-radius: var(--border-radius);
    background: var(--color-surf-0);
  }

  .imgsList{
    overflow: auto;
    .imgBox{
      background-color: var(--color-surf-0);
      border-radius: var(--border-radius);
      margin-bottom: .5rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .desc{
    padding: 1rem 0;
    p{
      margin-left: 1rem;
    }
    .brand{
      a{
        display: inline-block;
        font-weight: bold;
        border-radius: var(--border-radius);
        padding: .5rem;
        &:hover{
          background: var(--color-surf-0);
        }
      }
    }
  }

  .arc{
    background: var(--color-primary);
    color: var(--color-surf-0);
    padding: .5rem;
    margin: 1rem 0;
    border-radius: var(--border-radius);
  }

  .brand{
    margin: 1rem 0;
  }

  .price{
    margin: 1rem 0;
  }

  .product_available{
    font-weight: 600;
    font-size: 1.25rem;
  }
}

.product-img{
  display: grid;
  grid-template-columns: 80px auto;
  gap: 1rem;
}

.original {
  display: none;
}

.active {
  border: 2px solid #000;
}

.heroTitle{
  background: var(--color-primary);
  color: #fff;
  margin: 2rem 1rem 0rem 1rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  justify-content: center;

  p{
    font-size: 1.5rem;
  }
}

/**************
*****MODAL*****
**************/

.modal{
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 4rem;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  .modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-surf-5);
    cursor: pointer;
    font-size: 2rem;

    &:hover{
      color: #fff;
    }
  }
}

.modal-box-content{
  animation-name: zoom;
  animation-duration: 0.3s;
  display: flex;
  justify-content: center;
  /*height: calc(100vh - 11rem);*/
}

.modal-content{
  max-width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.modal-list{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 80px);
  margin: 1rem auto;
  justify-content: center;
}

.modal-box{
  background-color: var(--color-surf-0);
  border-radius: var(--border-radius);
  height: 80px;
  width: 80px;
  position: relative;

  img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-main{
  margin: 2rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
}

.section-side, .section-side-h{
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-surf-0);
  height: min-content;
  margin-top: 1rem;
}

.cards_p_empty{
  margin: 2.5rem 2rem 0 2rem;
  font-size: 1.5rem;
}

.map{
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: var(--border-radius);
}

.contacts{
  margin: 2rem 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.contacts-card{
  padding: 1rem;
  display: grid;
  gap: 1rem;
  a{
    display: inline-block;
    font-weight: 600;
  }
}

.contacts-map{
  min-height: calc(100vh - 19.25rem);
}

.about{
  margin: 4rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.about-h{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination{
  margin: 1rem auto;

  .current{
    background: var(--color-surf-0);
  }

  .current, a{
    border-radius: var(--border-radius);
    padding: 1rem;
    line-height: 1rem;
    text-align: center;
  }

  a:hover{
    background: var(--color-surf-0);
  }
}

.pagination-ul{
  display: flex;
  justify-content: center;
}

.subCat{
  margin-left: 1rem;
}

.colors{
  display: grid;
  grid-template-columns: repeat(auto-fill, 2rem);
  gap: .5rem;
  margin: 1rem;
}

.color{
  height: 2rem;
  border-radius: var(--border-radius);
}

.weekProduct{
  display: grid;
  gap: 1rem;
  /*grid-template-columns: repeat(auto-fill, minmax(18.75rem, 25rem));*/
  grid-template-columns: 3fr 2fr;
  margin: 1rem;
  max-width: 100%;
  justify-content: center;
}

.weekCard{
  background: var(--color-surf-0);
  border-radius: var(--border-radius);
  padding: 1rem;

  & img{
    max-height:20rem
  }
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media (max-width:600px) {

  nav {
    display: none;
  }
  
  .about {
    grid-template-columns: 1fr;
  }

  .header_search {
    display: none;
  }

  footer{
    grid-template-columns: auto;
    justify-content: center;
  }
  .socialLinks{
    margin-right: auto;
  }

  .contacts{
    grid-template-columns: 1fr;
  }

  .section-main{
    grid-template-columns: 1fr;
  }

  .section-side-h{
    display: none;
  }

  .product{
    grid-template-columns: 1fr;
  }
}

@media (min-width:601px) {  
  nav{
    display: none;
  }
  .contacts {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 841px) {
  nav{
    display: flex;
  }

  .burger{display: none;}

  .contacts {
    grid-template-columns: auto 1fr;
  }
}