{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <mate name="keywords" content="СИЗ, спецодежда, униформа, атырау, магазин">
  <meta name="description" content="У нас вы можете приобрести средства индивидуальной защиты, спецодежду, рабочую обувь и многое другое">
  <link rel="icon" href='{% static "tstapp/imgs/favicon.svg" %}' sizes='any' type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" type="text/css" href="{% static 'tstapp/css/style.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(99931759, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/99931759" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <header>
    <a href="{% url 'index' %}" class="logo_link"><img src="{% static 'tstapp/imgs/tst-logo.svg' %}"></a>
    <form class="header_search" action="{% url 'search' %}" method="get">
      <span class="material-symbols-rounded header_search-icon">search</span>
      <input class="header_search-input" name="q" type="text" placeholder="Поиск" maxlength="128">
      <span class="material-symbols-rounded header_search-icon header_search-clean">close</span>
    </form>
    <nav>
      <div class="nav_drop">
        <a href="{% url 'allcats' %}" class="nav_products">ПРОДУКЦИЯ</a>
        <div class="nav_products_drop">
          {% for c in db_cats %}
          <a href="{% url 'categories' c.id %}">{{ c.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="nav_drop">
        <a href="{% url 'allbrands' %}" class="nav_products">БРЕНДЫ</a>
        <div class="nav_products_drop">
          {% for b in db_brands %}
          <a href="{% url 'brands' b.id %}">{{ b.name }}</a>
          {% endfor %}
        </div>
      </div>
      <a href="{% url 'about'%}">О НАС</a>
      <a href="{% url 'contacts'%}">КОНТАКТЫ</a>
    </nav>
<!--
    {% if user.is_authenticated %}
      <div>{{ user.username}}</div>
      <a href="{% url 'kzauth:logout' %}">logout</a>
    {% else %}
    <div class="hLoggin">
      <a href="{% url 'kzauth:login' %}"><span class="material-symbols-rounded">login</span></a>
    </div>
    {% endif %}
    <div class="hUser">
      <a href="#"><span class="material-symbols-rounded">favorite</span></a>
      <a href="#"><span class="material-symbols-rounded">account_circle</span></a>
    </div>
-->
    <span class="material-symbols-rounded burger">menu</span>
  </header>
    
  <aside class="sideNav">
    <span class="material-symbols-rounded sideNavClose">close</span>
    <form class="side_search" action="{% url 'search' %}" method="get">
      <span class="material-symbols-rounded header_search-icon">search</span>
      <input class="side_search-input" name="q" type="text" placeholder="Поиск" maxlength="128">
      <span class="material-symbols-rounded header_search-icon side_search-clean">close</span>
    </form>
    <a href="{% url 'allcats' %}" class="sideNav_products text-link">ПРОДУКЦИЯ</a>
    <a href="{% url 'allbrands' %}" class="sideNav_products text-link">БРЕНДЫ</a>
    <a href="{% url 'about'%}" class="text-link">О НАС</a>
    <a href="{% url 'contacts' %}" class="text-link">КОНТАКТЫ</a>
    <a href="{% url 'index' %}" class="sideNav-logo"><img src="{% static 'tstapp/imgs/tst-logo.svg' %}"></a>
  </aside>

  {% block content %}{% endblock content %}

  <div class="modal">
    <span class="material-symbols-rounded modal-close">close</span>
    <div class="modal-box-content">
      <img src="" class="modal-content">
    </div>
    <div class="modal-list">
      {% block modalList %}{% endblock modalList %}
    </div>
  </div>

  <footer>
    <div class='footer_txt'>
      <p>Марина Sales Lead:</p>
      <a href="tel:+77057917089">+7 705 791 7089</a>
      <p>Артем Sales Manager:</p>
      <a href="tel:+77022411250">+7 702 241 1250</a>
      <p>Жамиля Sales Manager:</p>
      <a href="tel:+77753650598">+7 778 005 6633</a>
    </div>
    <div class='footer_txt'>
      <a href="mailto:info@tst-group.kz">info@tst-group.kz</a>
      <a href="mailto:sales.lead@tst-group.kz">sales.lead@tst-group.kz</a>
      <a href="mailto:sales@tst-group.kz">sales@tst-group.kz</a>
    </div>

    <div class='footer_txt'>
      <p>г. Атырау, пр. Исатая Тайманова, 128</p>
    </div>

    <div class="socialLinks">
      <a href="https://api.whatsapp.com/send/?phone=+77780056633" target="_blank"><img src="{% static 'tstapp/imgs/whatsapp.png' %}" alt=""></a>
      <a href="https://www.instagram.com/tst_group.kz" target="_blank"><img src="{% static 'tstapp/imgs/instagram.png' %}" alt=""></a>
    </div>
    
  </footer>

  <script src="{% static 'tstapp/js/script.js' %}"></script>
  {% block scripts%}{% endblock scripts%}
</body>
</html>