{% extends "base.html" %}
{% load static %}

{% block title %}TST - О нас{% endblock title %}

{% block content %}

<section class="heroTitle">
  <p>О нас</p>
</section>

<div class="about">
  <div class="about-h"><h1>Кто мы?</h1></div>
  <div class="about-txt">
    <p>TST - компания которая специализируется на международных поставках высококачественных средств индивидуальной защиты, спецодежды, текстиля и сопутствующих услуг.</p>
  </div>
</div>

<div class="about">
  <div class="about-h"><h1>Наша цель</h1></div>
  <div class="about-txt">
    <p>Миссия нашей компании – обеспечивать безопасность, комфорт и профессиональный облик работников различных отраслей,
      предлагая качественную и функциональную спецодежду.</p>
  </div>
</div>

<section class="about">
  <div class="about-h"><h1>Почему выбирают ТSТ ?</h1></div>
  <div class="about-txt">
    <p>- Гибкая система ценообразования</p>
    <p>- Более 300 довольных клиентов</p>
    <p>- Полный спектр товаров в сфере индивидуальной защиты</p>
    <p>- Проверенные и известные бренды</p>
    <p>- Быстрая доставка и удобные условия оплаты</p>
    <p>- Индивидуальные решения для каждого клиента</p>
    <p>- Консультации экспертов</p>
  </div>
</section>

<div class="about-title">
  <h1>Сертификаты</h1>
</div>
<section class="certs">
  <div class="certs_card">
    <a href="{% static 'tstapp/imgs/certs/martor.jpg' %}" target="_blank">
      <img src="{% static 'tstapp/imgs/certs/martor.jpg' %}" alt="">
    </a>
  </div>
  <div class="certs_card">
    <a href="{% static 'tstapp/imgs/certs/martor.jpg' %}" target="_blank">
      <img src="{% static 'tstapp/imgs/certs/velilla.jpg' %}" alt="">
    </a>
  </div>
</section>

<div class="about-title"><h1>ISO Стандарты компании</h1></div>
<section class="certs">
  <div class="certs_card">
    <img src="{% static 'tstapp/imgs/iso-9001.png' %}" alt="">
    <p>Система менеджмента качества ISO 9001-2016</p>
    <div class="certs_card_links">
      <p>Скачать на:</p>
      <a href="{% static 'tstapp/certs/iso9001kz.pdf' %}" target="_blank">Қаз</a>
      <a href="{% static 'tstapp/certs/iso9001ru.pdf' %}" target="_blank">Рус</a>
      <a href="{% static 'tstapp/certs/iso9001en.pdf' %}" target="_blank">Eng</a>
    </div>
  </div>
  <div class="certs_card">
    <img src="{% static 'tstapp/imgs/iso-14001.png' %}" alt="">
    <p>Система экологического менеджмента ISO 14001-2016</p>
    <div class="certs_card_links">
      <p>Скачать на:</p>
      <a href="{% static 'tstapp/certs/iso14001kz.pdf' %}" target="_blank">Қаз</a>
      <a href="{% static 'tstapp/certs/iso14001ru.pdf' %}" target="_blank">Рус</a>
      <a href="{% static 'tstapp/certs/iso14001en.pdf' %}" target="_blank">Eng</a>
    </div>
  </div>
  <div class="certs_card">
    <img src="{% static 'tstapp/imgs/iso-45001.png' %}" alt="">
    <p>Система менеджмента безопастности труда и охраны здоровья</p>
    <div class="certs_card_links">
      <p>Скачать на:</p>
      <a href="{% static 'tstapp/certs/iso45001kz.pdf' %}" target="_blank">Қаз</a>
      <a href="{% static 'tstapp/certs/iso45001ru.pdf' %}" target="_blank">Рус</a>
      <a href="{% static 'tstapp/certs/iso45001en.pdf' %}" target="_blank">Eng</a>
    </div>
  </div>
</section>

{% endblock content %}