{% extends "base.html" %}
{% load static %}

{% block title %}TST - О нас{% endblock title %}

{% block content %}

<section class="heroTitle">
  <p>О нас</p>
</section>

<div class="about">
  <div class="about-h"><h1>Кто мы?</h1></div>
  <div class="about-txt">
    <p>TST - компания которая специализируемся на международных поставках высококачественных средств индивидуальной защиты, спецодежды, текстиля и сопутствующих услуг.</p>
  </div>
</div>

<div class="about">
  <div class="about-h"><h1>Наша цель</h1></div>
  <div class="about-txt">
    <p>Миссия нашей компании – обеспечивать безопасность, комфорт и профессиональный облик работников различных отраслей,
      предлагая качественную и функциональную спецодежду.</p>
  </div>
</div>

<section class="about">
  <div class="about-h"><h1>Почему выбирают ТSТ ?</h1></div>
  <div class="about-txt">
    <p>- Гибкая система ценообразования</p>
    <p>- Более 300 довольных клиентов</p>
    <p>- Полный спектр товаров в сфере индивидуальной защиты</p>
    <p>- Проверенные и известные бренды</p>
    <p>- Быстрая доставка и удобные условия оплаты</p>
    <p>- Индивидуальные решения для каждого клиента</p>
    <p>- Консультации экспертов</p>
  </div>
</section>

{% endblock content %}