{% extends "base.html" %}

{% block title %}TST - {{ brand.name }}{%endblock title%}

{% block content %}

<section class="heroTitle">
  <p>{{ brand.name }}</p>
</section>

<section class="section-main">
  <div class="section-side-h">
    {% for item in brands %}
      {% if item.name == brand.name %}
        <p class="text-link-selected">{{ item.name }}</p>
      {% else %}
        <a href="{% url 'brands' item.id %}" class="text-link">{{ item.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="cards">
    {% for item in pi %}
     <a class="card" href="{{ item.p.get_absolute_url }}">
        <!--<span class="material-symbols-rounded">favorite</span>-->
        <div class="imgbox">
          <img src="{{ item.i.thumb.url }}">
        </div>
        <div class="group">
          <div class="arc">{{ item.p.article }}</div>  
          <div class="price">{{ item.p.price }} ₸</div>
        </div>
        <div class="title">{{ item.p.title }}</div>
      </a>
    {% endfor %}
  </div>
</section>

{% endblock content %}