{% extends "base.html" %}
{% load static %}

{% block title %}TST - Контакты{% endblock title %}

{% block content %}

<section class="heroTitle">
  <p>Сертификаты</p>
</section>

<section class="certs">
  <div class="certs_card">
    <a href="{% static 'tstapp/imgs/certs/martor.jpg' %}" target="_blank">
      <img src="{% static 'tstapp/imgs/certs/martor.jpg' %}" alt="">
    </a>
  </div>
  <div class="certs_card">
    <a href="{% static 'tstapp/imgs/certs/martor.jpg' %}" target="_blank">
      <img src="{% static 'tstapp/imgs/certs/velilla.jpg' %}" alt="">
    </a>
  </div>
</section>

{% endblock content %}