{% extends "base.html" %}
{% load static %}

{% block title %}TST - Контакты{% endblock title %}

{% block content %}

<section class="heroTitle">
  <p>Контакты</p>
</section>

<div class="contacts">
  <div class="contacts-card">
    <div class="adrs">
      <h1>Звоните</h1>
      <p>По номеру телефона:</p>
      <p><a href="tel:+77057917089">Марина Sales Lead:  +7 705 791 7089</a></p>
      <p><a href="tel:+77022411250">Артем Sales Manager:  +7 702 241 1250</a></p>
      <p><a href="tel:+77753650598">Куаныш Sales Manager:  +7 778 005 6633</a></p>
      <br>
      <p>На Whatsapp:</p>
      <p><a href="https://api.whatsapp.com/send/?phone=+77780056633" target="_blank">+7 778 005 6633</a></p>
    </div>
    <div class="adrs">
      <h1>Пишите</h1>
      <p>На почту: </p>
      <p><a href="mailto:info@tst-group.kz">info@tst-group.kz</a></p>
      <p><a href="mailto:sales.lead@tst-group.kz">sales.lead@tst-group.kz</a></p>
      <p><a href="mailto:sales@tst-group.kz">sales@tst-group.kz</a></p>
    </div>
    <div class="adrs">
      <h1>Приходите</h1>
      <p>По адресу: город Атырау, проспект Исатая Тайманова, 128</p>
    </div>
    <div class="adrs">
      <h1>Подписывайтесь</h1>
      <p>В Instagram: <a href="https://www.instagram.com/tst_group.kz" target="_blank"> @tst_group.kz</a></p>
    </div>
  </div>
  <div class="contacts-map">
    <a class="dg-widget-link"
      href="http://2gis.kz/atyrau/firm/70000001077729067/center/51.91303968429566,47.08526068898255/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
      на карте Атырау</a>
    <div class="dg-widget-link"><a
        href="http://2gis.kz/atyrau/firm/70000001077729067/photos/70000001077729067/center/51.91303968429566,47.08526068898255/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
        компании</a></div>
    <div class="dg-widget-link"><a
        href="http://2gis.kz/atyrau/center/51.913045,47.084716/zoom/16/routeTab/rsType/bus/to/51.913045,47.084716╎TST, компания по продаже СИЗ?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
        проезд до TST, компания по продаже СИЗ</a></div>
    <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
    <script
      charset="utf-8">new DGWidgetLoader({ "width": "100%", "height": "100%", "min-height":"50vh", "borderColor": "none", "pos": { "lat": 47.08526068898255, "lon": 51.91303968429566, "zoom": 16 }, "opt": { "city": "atyrau" }, "org": [{ "id": "70000001077729067" }] });</script>
    <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
      настройках вашего браузера.</noscript>
  </div>
</div>

{% endblock content %}