{% extends "base.html" %}
{% load static %}

{% block title %}ПРЕСС РЕЛИЗ{% endblock title %}

{% block content %}

<section class="heroTitle">
  <p>ПОСТ РЕЛИЗ</p>
</section>

<section class="sg360">
  <h1>ПОСТ РЕЛИЗ</h1>
  <h2>Первого форума игровых решений по безопасности и охране труда «SAFETY GAMES 360» FORUM KAZAKHSTAN</h2>
  <p>21 ноября 2024 года состоялся Первый форум игровых решений по безопасности и охране труда <a href="https://safetygames360.kz/?utm_source=infopartner&utm_medium=tst_group_kz&utm_campaign=sfg360_kz" target="_blank">«SAFETY GAMES 360» FORUM KAZAKHSTAN</a>. Мероприятие стало местом сбора разработчиков,организаторов игровых решений по БиОТ и потенциальных потребителей – представителей бизнеса, руководителей и специалистов ОТ и ПБ, HR для реализации  концепции безопасного труда и практик Vizion Zero. Разработчики игровых решений в области охраны труда показали практические кейсы геймификации и рассказали, как можно их внедрять в деятельность реальных предприятий.</p>
  <p>На форуме рассматривались очень актуальные вопросы:</p>
  <ul>
    <li>чем увлечь персонал, чтобы обеспечить соблюдение правил;</li>
    <li>как скучные и сложные регламенты превратить в увлекательную игру;</li>
    <li>как не допустить аварий и НС, внедряя осознанность через игру;</li>
    <li>как донести до сотрудников инструменты международной системы менеджмента безопасности труда и охраны здоровья;</li>
    <li>как достичь нулевого травматизма через обучение.</li>
  </ul>
  <p>Мероприятие собрало более 80 участников, в числе которых руководители и специалисты ОТ и ПБ, учебные центры ДПО, тренеры по ОТ и ПБ, HRспециалисты организаций, разработчики и ведущие игр, собственники бизнесов и предприниматели, организаторы корпоративных мероприятий, преподаватели курсов и школ игропрактиков, преподаватели школ и ВУЗов, представители НКО и соцорганизаций, бизнес-тренеры, руководители структурных подразделений известных компаний.</p>
  <p>Организатором Форума стали сообщество экспертов и игропрактиков <b>«SAFETY GAMES 360»</b> и компания <b>«Деловые информационные системы Казахстан»</b>.</p>
  <img src="{% static 'tstapp/imgs/sg360/post release.jpg' %}" alt="Пост релиз">
  <p>Партнеры мероприятия – Техноавиа, Ассоциация Безопасного Вождения, Казахстанская ассоциация природопользователей для устойчивого развития, Портал буровых компаний Казахстана, Profit.kz, EcoStandard.journal.</p>
  <p>Также на форуме были продемонстрированы <a href="https://promvr.kz" target="_blank">VR-тренажеры «PROMVR»</a>, которые способны оказать значительную помощь в обучении охране труда, и была продемонстрирована игра «Победа над рисками» с использованием цифрового приложения регистрации потенциальных опасностей <a href="https://sunkt.kz" target="_blank">СУНКТ «Well Compliance».</a></p>
  <p>Мероприятие посетил <b>Мукушев Жанболат Камалиевич</b>, представитель комитета ГИТ Минтруда и соцзащиты населения Республики Казахстан.</p>
  <p>В ходе форума организаторы поделился опытом применения настольных игр в развитии культуры безопасности компании <b>ЕвроХим</b>. Рассказали, что компания развивает осознанный подход к безопасности: сотрудники сами умеют видеть риски и управлять ими, а руководители готовы говорить о рисках и устранять их.</p>
  <p>Акцент делается как на опасные действия, так и опасные условия. Для повышения осознанного подхода к безопасности проводятся предсменные экзамены, интерактивный инструктаж, пятиминутки безопасности, а также «охота на риски». Обучение реализуется командой внутренних тренеров в несколько этапов:
  </p>
  <ul>
    <li>тренинг для руководителей;</li>
    <li>практика на рабочем месте;</li>
    <li>наблюдение за работой сотрудников, оценка.</li>
  </ul>
  <p>Эксперт отметил, что применение настольных игр показало себя как эффективный инструмент в развитии культуры безопасности, поскольку тренинг  короткий, весь фокус идет на практику, высокая динамика обеспечивает вовлеченность в процесс даже «скептиков».</p>
  <p>Цель игры – в игровом формате познакомить сотрудников с профессиональными рисками, на практике отработать навыки управления рисками, выработать
  практику «Стоп работа».</p>
  <img src="{% static 'tstapp/imgs/sg360/post release 5.jpg' %}" alt="Пост релиз">
  <p><b>О.В. Баландин</b>, старший менеджер HR-консалтинговой компании Экопси, обратил внимание на тему развития открытости и доверия в компании для
  снижения рисков, связанных с ОТ, ПБ и экологией. Он отметил: помимо крупных происшествий, вызвавших аварию, смерть рабочего или серьезную травму, на
  любом предприятии случается множество мелких. И о них не всегда становится известно даже руководству, поскольку сотрудники могут стремиться их
  «спрятать» или не заметить. То, что может быть скрыто, обязательно будет скрыто, чтобы «не портить показатели». В итоге риски (опасные события,
  условия, поведение) накапливаются, чтобы однажды реализоваться во что-то крупное, что уже не удастся скрыть.</p>
  <img src="{% static 'tstapp/imgs/sg360/post release 7.jpg' %}" alt="Пост релиз">
  <p>Таким образом культура компании определяет поведение всех ее сотрудников. Транслируемые сверху ценности не всегда доходят до коллектива, поскольку в
  каждом отделе может существовать своя особая культура, а страх несправедливого наказания не мотивирует сотрудника рассказывать о проблемах.</p>
  <p>Корнем проблемы может быть стратегия фиктивно-демонстрационного продукта: нужно всеми силами приукрасить действительность, чтобы получить
  хорошую оценку руководства.</p>
  <p>Решать проблему нужно комплексно: исправлять атмосферу в коллективе, систему мотивации, проводить обучение рабочих групп принципам честного
  диалога и прямого разговора. Важнейший момент – развитие системы регистрации событий, которые пока не привели ни к каким последствиям.</p>
  <p>Полезно, чтобы у сотрудника были простые и эффективные способы сообщить об инциденте, причем он не боялся бы наказания за это, а, напротив, поощрялся.</p>
  <p>Переход на новую систему может сопровождаться рядом трудностей: резкое падение показателей по безопасности вследствие большого количества
  регистрируемых инцидентов, неспособность отдельных руководителей перестроиться. Однако в перспективе именно развитие культуры безопасности
  способно наладить постоянный анализ и принятие мер по повышению уровня безопасности.</p>
  <img src="{% static 'tstapp/imgs/sg360/post release 9.jpg' %}" alt="Пост релиз">
  <p>На форуме <a href="https://safetygames360.kz/?utm_source=infopartner&utm_medium=tst_group_kz&utm_campaign=sfg360_kz"
    target="_blank">«SAFETY GAMES 360» FORUM KAZAKHSTAN</a> рассказали о применении игровых подходов в обучении производственной безопасности <b>ПАО «Газпромнефть»</b>. Отметили большую проблему: очень часть сотрудники приходят на обучение по ОТ и ПБ не добровольно. В итоге у них практически отсутствует мотивация, нет цели получить знания, они стремятся просто «отсидеть» на занятиях. Оценка уровня знаний при этом вызывает стресс и объяснимое желание найти любую лазейку, чтобы быстрее получить сертификат и вернуться к работе.</p>
  <p>Выходом может стать получение работником знаний по областям ПБ в игровом формате с практической отработкой в удобное для работника время. Акцент делается на снижение числа происшествий в фокусных областях, чтобы сотрудник понимал, как это касается лично его.</p>
  <p>В Газпромнефти внедрена практика прохождения обучения ОТ и ПБ в игровой
  форме на специальной ИТ-платформе, где проводится тематическая викторина
  «Что? Где? Когда?», квиз, кроссворд, головоломки, баттлы. Есть и очная часть:
  квесты и разбор практических кейсов, учебно-тренировочные задания.</p>
  <p>Для повышения мотивации сотрудников обучение может проводиться в формате
  марафона: на каждом этапе участникам начисляются баллы, а по итогам
  марафона подводятся групповые и индивидуальные итоги, победителям вручают
  награды. Пока марафон идет, есть возможность ежедневно отслеживать успехи
  как свои, так и команды.</p>
  <p>Существует и офлайн-часть: компания проводит учебно-тренировочные занятия
  по пожарной безопасности, эвакуации персонала с административных зданий,
  экскурсии в пожарные части и лекции в учебных центрах МЧС, семейные
  мероприятия с детьми сотрудников по правилам пожарной безопасности.</p>
  <p>В настоящее время успешный опыт Газпромнефти в области обучения ОТ и ПБ
  через онлайн-платформу в игровом формате уже позаимствовали многие
  передовые российские компании.</p>
  <p><b>Екатерина Томилова</b>, руководитель службы охраны труда <b>ООО «Региональная сеть питания»</b>, рассказала про игропрактику, которая является
  эффективным подходом к развитию профессиональных компетенций. По ее мнению, традиционная система обучения ОТ и ПБ зачастую формальна:
  «проведи инструктаж – и точка». В итоге ответственные за проведение таких инструктажей сильно загружены, подача материала не эффективна, а слушатели
  не мотивированы и сопротивляются получению знаний.</p>
  <p>Одним из выходов из данной ситуации могут стать новые форматы,
  предполагающие использование разнообразных методов подачи информации:
  видеоуроки, вебинары, интерактивные методические пособия.</p>
  <p>Важнейшим залогом успеха является интересный контент, который будет
  привлекать внимание и удерживать интерес аудитории.</p>
  <p>Нельзя обойтись и без системы мотивации. Разработка системы поощрений и
  стимулов для участников помогает поддерживать их активность и
  вовлеченность.</p>
  <p>Наконец, организация регулярной обратной связи от участников позволяет
  оперативно корректировать программу и адаптировать ее под потребности
  аудитории.</p>
  <img src="{% static 'tstapp/imgs/sg360/post release 12.jpg' %}" alt="Пост релиз">
  <p><b>Екатерина Скрыпник</b>, генеральный директор компании <b>PROMVR</b>, рассказала
  об использовании VR-тренажеров для повышения эффективности подготовки
  сотрудников. Она отметила, что традиционные методы обучения ОТ и ПБ
  зачастую не являются эффективными, а цена ошибки слишком высока: каждый
  год в стране происходит около 1,5 тысяч несчастных случаев со смертельным
  исходом.</p>
  <p>Хорошей альтернативой являются обучающие VR-тренажеры для отработки
  правильной техники выполнения служебных операций. Они в 1,3 раза снижают
  показатели травматизма, на 70% повышают эффективность обучения персонала,
  исключают риски остановк работ, уменьшают трудозатраты на обучение и
  командировки.</p>
  <p>Эффективности обучения способствуют наличие балльно-рейтинговой системы
  оценки по каждому пользователю, соответствие нормативной базе, возможность
  выбора и настройки ключевых метрик, высокий уровень графики и детализации
  объектов. В итоге сотрудник получает практические навыки, в том числе:</p>
  <ul>
    <li>составление бланков переключений;</li>
    <li>выбор и применение СИЗ;</li>
    <li>выбор необходимых ключей;</li>
    <li>проведение оперативных переключений и отсоединений;</li>
    <li>фиксация необходимых записей в оперативном журнале и изменений в схеме.</li>
  </ul>
  <p>Благодаря использованию VR-тренажеров ускоряется адаптация новых
  работников, на предприятии развивается культура безопасного труда,
  проводится объективный контроль и оценка уровня знания, сотрудники
  обучаются без отрыва от производственного процесса. Обучение проводится в
  форматах теории, практики или экзамена.</p>
  <p>В настоящее время есть возможность использовать тренажеры для обучения
  оказанию первой помощи пострадавшему на производстве, требованиям охраны
  труда, безопасному выполнению работ на высоте, оперативному переключению
  6/110 кВ, а также для повышения квалификации по пожарной безопасности.</p>
  <p><b>Евгений Литвинов</b>, сертифицированный тренер тренинговой компании <b>TQM</b>,
  рассказал про управление рисками системы менеджмента ОЗиОБТ (ISO 45001) в
  соответствии с ISO 31000 «Менеджмент риска. Руководство». Он отметил, что
  нередко неопределенность в значительной степени влияет на достижение целей
  компании. Например, трудно предвидеть плохое состояние дороги или
  нарушение правил ПДД кем-то из водителей. Но результатом этого может стать
  ДТП, которое приведет к травмам водителя-сотрудника компании, а также к
  срыву сроков поставок. Другой пример: при производстве свинца может
  произойти серьезная травма сотрудника, если случится розлив раскаленного
  металла или внезапное перемещение ковша.</p>
  <p>Все это означает, что нужно заранее идентифицировать риски, проводить их
  анализ и оценку, а также разработать мероприятия в ответ на эти риски. Затем
  следует интегрировать мероприятия в производственные процессы и регулярно
  оценивать их эффективность.</p>
  <p>Эксперт подчеркнул, что риск-менеджмент – это процесс, который должен быть
  встроен в существующие процессы, в том числе, в процесс принятия решений.</p>
  <p>В широком понимании «рисками» можно считать не только опасность получения
  сотрудником травмы, но и, например, некорректное планирование закупок,
  недостоверную отчетность по ним. Все это может сорвать непрерывность
  производственного процесса или нанести финансовый ущерб компании. Заблаговременное выявление и анализ рисков, в том числе по методу «пяти
  почему», позволяет выявить истинные проблемы в процессах и решить их.</p>
  <p><b>Елена Козинец</b>, генеральный директор <b>ООО «КАТЕЛЕНА»</b>, рассказала об
  основных болях в обучении ОТиПБ. Среди них – низкая вовлеченность в
  обучение, повторяющийся контент, однообразность подачи материала и
  трудности в ее восприятии. По сравнению с традиционной методикой обучения,
  игровые подходы более эффективны, чему способствуют визуализация,
  краткость, наличие персонажей и эмоций. Кроме того, игровые подходы
  снимают напряжение у аудитории, обеспечивают высокую вовлеченность в
  процесс, показывают эффективность коммуникаций, упрощают восприятие и
  усвоение информации.</p>
  <p>Также они повышают мотивацию к обучению, помогают вывести всех на один
  уровень знаний, уравнивают людей вне зависимости от должности, выявляют
  личностные качества участников, создают баланс между обучением и реальной
  деятельностью.</p>
  <p>Элементами геймификации являются рейтинги и баллы. Базовые принципы
  геймификации – разные инструменты для разных категорий сотрудников,
  интеграция в рабочий процесс, акцент на тренировке практических навыков.</p>
  <img src="{% static 'tstapp/imgs/sg360/post release 15.jpg' %}" alt="Пост релиз">
  <p>Вариантов внедрения геймификации в обучение ОТ и ПБ достаточно много:</p>
  <ul>
    <li>Викторины;</li>
    <li>Квесты;</li>
    <li>Настольные игры;</li>
    <li>Ролевые игры;</li>
    <li>Чемпионаты;</li>
    <li>Марафоны;</li>
    <li>Напольные игры;</li>
    <li>VR, AR;</li>
    <li>Онлайн-игры;</li>
    <li>Хакатон;</li>
    <li>Иммерсивное шоу.</li>
  </ul>
  <p>Использование таких инструментов может значительно повысить мотивацию
  обучающихся и обеспечить качественное усвоение знаний и практических
  навыков.</p>
  <p>Пока в первом зале шли выступления спикеров, во втором – «зале игр» –
  параллельно проходила практическая отработка обучению ОТ и ПБ с помощью
  инструментов геймификации. Например, <b>ООО «Кателена»</b> проводило игру по
  управлению рисками в рабочих зонах «Найти и обезвредить», <b>ООО «PROMVR»</b>
  давало всем возможность попробовать очки виртуальной реальности по ОТ и ПБ,
  <b>АО «ЭПОКСИ»</b> проводило игру по поиску причин нарушений и происшествий
  «В поисках коренных причин», <b>SAFEOLOGY GROUP</b> предлагало игру по
  охране труда и культуре безопасности «Бублик», <b>ООО «Академия охраны
  труда»</b> презентовало игру по первой помощи «Помоги коллеге». Получение
  реального игрового опыта позволило каждому участнику Форума на себе
  ощутить те преимущества, которые такой инструмент обучения имеет перед
  традиционными методами.</p>
  <img src="{% static 'tstapp/imgs/sg360/post release 98.jpg' %}" alt="Пост релиз">
  <p>Первый Форум игровых решений по безопасности и охране труда <a href="https://safetygames360.kz/?utm_source=infopartner&utm_medium=tst_group_kz&utm_campaign=sfg360_kz" target="_blank">«SAFETY GAMES 360» FORUM KAZAKHSTAN</a> собрал столько позитивных откликов,
  что уже запланирован второй. Он пройдет <b>в начале октября 2025 года в
  Алматы и продлится 2 дня.</b></p>
  <p>Продажа билетов стартует в ближайшее время, предварительная стоимость
  участия в двух днях форума – 100 000 тенге.</p>
  <p><b>Не пропустите самое ожидаемое мероприятие для представителей бизнеса,
  руководителей и специалистов ОТ и ПБ. Планируйте свой бюджет заранее!</b></p>
  <img src="{% static 'tstapp/imgs/sg360/post release 99.jpg' %}" alt="Пост релиз">
</section>
{% endblock content %}