{% extends "base.html" %}
{% load static %}

{% block title %}ПРЕСС РЕЛИЗ{% endblock title %}

{% block content %}

<section class="heroTitle">
  <p>ПРЕСС РЕЛИЗ</p>
</section>

<section class="sg360">
  <img src="{% static 'tstapp/imgs/sg360/press release.jpg' %}" alt="Пресс релиз">
  <p><b>Внимание, друзья!</b></p>
  <p>С радостью сообщаем, что <b>II SAFETY GAMES FORUM KAZAKHSTAN</b> пройдет в живописном городе Алматы 9-10 октября 2025 года! </p>
  <p>В этом году, по многочисленным просьбам участников, форум будет длиться два дня. Один день будет полностью посвящен играм и интерактивным решениям в области обучения охране труда и промышленной безопасности.</p>
  <p>Во второй день мы готовим насыщенную деловую программу, где соберем самые актуальные тренды, практики, кейсы и инсайты, которые вы так любите! Если у вас есть желание поделиться своим опытом с аудиторией, не стесняйтесь, оставьте заявку на доклад на нашем сайте <a href="https://safetygames360.kz/?utm_source=infopartner&utm_medium=tst_group_kz&utm_campaign=sfg360_kz" target="_blank">safetygames360.kz</a> и мы обсудим все детали!</p>
  <p>✅ Мы с нетерпением ждем участников прошлых конференций — ваша энергия и опыт сделали наши события незабываемыми! И, конечно же, рады пригласить новых участников, готовых делиться своими идеями и взглядами на безопасность.</p>
  <p>👉 Следите за обновлениями и подробностями на нашем сайте <a href="https://safetygames360.kz/?utm_source=infopartner&utm_medium=tst_group_kz&utm_campaign=sfg360_kz" target="_blank">safetygames360.kz</a> и в социальных сетях!</p>
</section>
{% endblock content %}